.CoreSection {
  padding-top: 280px;
  padding-bottom: 340px;
}

.coffeDescItem {
  color: #333333;
  display: flex;
  flex-direction: column;
  gap: 60px;
  max-width: 556px;
  width: 100%;

  @media (max-width: 1440px) {
    max-width: 318px;
    gap: 30px;
  }

  @media (max-width: 900px) {
    flex-direction: row;
  }

  .title {
    text-transform: uppercase;

    font-size: 28px;
    font-weight: 800;
    line-height: 35px;
    text-align: right;

    @media (max-width: 1440px) {
      font-size: 16px;
    }

    @media (max-width: 900px) {
      font-size: 12px;
      min-width: 130px;
    }
  }

  .description {
    font-size: 28px;
    font-weight: 400;
    line-height: 35px;
    text-align: right;

    @media (max-width: 1440px) {
      font-size: 16px;
    }

    @media (max-width: 900px) {
      font-size: 12px;
    }
  }
}

.content {
  display: grid;
  grid-template-areas:
    "box1 box2"
    "box3 box4";

  @media (max-width: 900px) {
    grid-template-areas:
      "box1"
      "box4"
      "box3"
      "box2";
  }
  row-gap: 24px;
}

.box1 {
  grid-area: box1;
  margin-left: auto;

  @media (max-width: 900px) {
    margin-left: 0px;
    justify-content: center;
    display: flex;

    .coffeDescItem {
      padding-bottom: 24px;
      border-bottom: 1px solid #c6c6bd;
    }
  }
}

.box2 {
  grid-area: box2;
  display: flex;
  justify-content: flex-end;

  img {
    height: auto;
    max-width: 1985px;
    width: 100%;
  }
}

.box3 {
  grid-area: box3;
  margin-left: auto;
  margin-top: -250px;

  @media (max-width: 1440px) {
    margin-top: -120px;
  }

  @media (max-width: 900px) {
    margin-top: 0px;
    display: flex;
    margin-left: 0px;
    justify-content: center;
  }
}

.box4 {
  display: flex;
  justify-content: center;
  grid-area: box4;
  margin-top: -250px;

  @media (max-width: 1440px) {
    margin-top: -120px;
  }

  @media (max-width: 900px) {
    margin-top: 0px;
    .coffeDescItem {
      padding-bottom: 24px;
      border-bottom: 1px solid #c6c6bd;
    }
  }
}
